.mainCard{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 100px; /* Added */
    margin-top: 10%;
    width: 90%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
  }